click==6.7
configparser==3.5.0
Flask==0.12.2
Flask-Images==2.1.2
gevent==1.2.1
greenlet==0.4.12
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
Pillow==4.1.1
pillowcase==2.0.0
Werkzeug==0.12.2
