<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/master.css" type="text/css" >
    <link rel="stylesheet" type="text/css" href="../static/semantic/semantic.css">
    <title>Pyrm</title>
    <style>
    </style>
    <script type="text/javascript">
    </script>
</head>
    <body style="background-size:cover;background: url('../static/img/bg.png') no-repeat left center;" >

        <div style="margin-top: 10%;margin-left: 20%; width: 790px; height: 430px" class="ui card">

            <div style="margin-top: -0px; margin-left: 300px" class="header"><h2>Selecione sua placa</h2></div>

                <div style="margin-top: 18px;margin-left: 530px;width: 250px; height: 350px" class="ui card ">
                  <a class="image" href="projeto?board=mk20dx256">
                    <img src="../static/img/teensy31.jpg">
                      </a>
                      <div style="margin-top: -105px" class="content">
                        <a class="header" href="#">Teensy 3.1</a>
                        <div class="meta">
                          <a>Processador: mk20dx256</a>
                        </div>
                      </div>
                    </div>
                  </div>

                <div style="margin-top: -375px; margin-left: 265px ;width: 250px; height: 350px" class="ui card ">
                  <a class="image" href="projeto?board=mk64fx512">
                    <img src="../static/img/teensy35.jpg">
                      </a>
                      <div style="margin-top: -105px" class="content">
                        <a class="header" href="#">Teensy 3.5</a>
                        <div class="meta">
                          <a>Processador: mk64fx512</a>
                        </div>
                      </div>
                </div>
                 <div style="margin-top: -365px; margin-left: 525px ;width: 250px; height: 350px" class="ui card ">
                  <a class="image" href="projeto?board=mk66fx1m0" >
                    <img src="../static/img/teensy36.jpg">
                      </a>
                      <div style="margin-top: -105px" class="content">
                        <a class="header" href="#">Teensy 3.6</a>
                        <div class="meta">
                          <a>Processador: mk66fx1m0</a>
                        </div>
                      </div>
                </div>
        </div>


    </body>
    <script src="../static/semantic/semantic.js"></script>
</html>
