<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/jquery-2.2.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../static/semantic/semantic.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.15.2/theme/solarized.min.css"> -->
    <script type="text/javascript" src="../static/js/codemirror.min.js"></script>
    <script type="text/javascript" src="../static/js/python.min.js"></script>
    <script type="text/javascript" src="../static/js/javascript.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/codemirror.min.css">
    <link rel="stylesheet" type="text/css" href="../static/solarized.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <style>
            .centerDiv{
  position: fixed;
  top: 150%;
  left: 60%;
  /* bring your own prefixes */
  transform: translate(-50%, 5%);
    }    .centerDiv2{
  position: fixed;
  top: -500px;
  left: 5%;
  /* bring your own prefixes */
    }
    </style>
    <script type="text/javascript">
        function processData(data) {
          // taking care of data
        }
        function handler() {
          if(this.status == 200 &&
            this.responseXML != null &&
            this.responseXML.getElementById('test').textContent) {
            // success!
            processData(this.responseXML.getElementById('test').textContent);
          } else {
            // something went wrong
          }
        }
        function flash() {
                //var client = new XMLHttpRequest();
                //client.onload = handler;
                //client.open("GET", "/flash?projeto={{ projeto }}&file={{ file }}", false);
                //client.send();
                //document.getElementById("demo").innerHTML = client.responseText;
             window.location = "/dev?projeto={{ projeto }}&file={{ file }}&flash=True";

        }
        function addFolder() {
                name = prompt('{{ nameofproject }}');
                window.location = "/dev?projeto={{ projeto }}&file={{ file }}&newfolder="+name;
            }
        function deleteFolder() {
                name = prompt('{{ deleteproject }}');
                window.location = "/dev?projeto={{ projeto }}&file={{ file }}&deletefolder="+name;
            }
        function editFolder() {
                name = prompt('{{ renameproject }}');
                window.location = "/dev?projeto={{ projeto }}&file={{ file }}&editfolder="+name;
            }
        function addFile() {
                name = prompt('{{ nameofproject }}');
                window.location = "/dev?projeto={{ projeto }}&file={{ file }}&newfile="+name;
            }
        function deleteFile() {
                name = prompt('{{ deleteproject }}');
                window.location = "/dev?projeto={{ projeto }}&file={{ file }}&deletefile="+name;
            }
        function editFile() {
                name = prompt('{{ renameproject }}');
                window.location = "/dev?projeto={{ projeto }}&file={{ file }}&editfile="+name;
            }
        function zip() {
                window.location = "/dev?projeto={{ projeto }}&file={{ file }}&zip=True";

        }

        function voltar() {
              var projetoSplit = "{{ projeto }}".split('/');
              var text = "";
              var w;
              for (w = 0; w < projetoSplit.length - 1; w++) {
                if (w === projetoSplit.length - 2){
                  text += projetoSplit[w]
                }else {
                  text += projetoSplit[w] + "/";
                }}
                window.location = "/dev?projeto=" + text;

        }
        window.onload = function() {
            var editor = CodeMirror.fromTextArea(document.getElementById("codemirror"), {
                lineNumbers: true,
                theme: "solarized dark",
                
                mode: "python",
                autofocus: true
            });
            editor.setSize(680, 440);
        }
        </script>
    <title>Pyrm</title>
</head>
    <body style="background-size:cover;background: url('../static/img/bg.png') no-repeat left center;" >
    <div>
        <div style="width: 700px;" class="ui card centerDiv">
          <div class="content">
              <div class="header">{{ editor }}: {{ file }}

              </div>
              <div>
                  <div style="margin-top: 5px" class="ui extra content">
                      <form action="" id="textform" method="post">
                            <p><textarea name="code" id="codemirror" title="Editor">{{ arquivo }}</textarea></p>
                            <input class="ui teal button" type="submit" value="Save">
                      </form>
                      <div style="margin-left: 80px;margin-top: -35px" >
                            <button onclick="flash()" class="ui teal button">Find</button> <button onclick="flash()" class="ui teal button">Flash</button><button onclick="zip()" class="ui teal button">Download</button>
                      </div>
                  </div>
            </div>
          </div>
        </div>
        <div style=" width: 250px" class="ui card centerDiv2">
          <div class="content">
              <center><div class="header"><h3>{{ projeto }}</h3>
              </div></center><hr><center><div>
              <a style="margin-left: 0px" onclick="addFolder()"><img src="../static/img/addfolder.png"></a>
              <a style="margin-left: 10px" onclick="deleteFolder()"><img src="../static/img/delete.png"></a>
              <a style="margin-left: 10px" onclick="editFolder()"><img src="../static/img/edit.png"></a>
              <a style="margin-left: 10px" onclick="addFile()"><img src="../static/img/addfile.png"></a>
              <a style="margin-left: 10px" onclick="deleteFile()"><img src="../static/img/deletefile.png"></a>
              <a style="margin-left: 10px" onclick="editFile()"><img src="../static/img/editfile.png"></a>
              {% if erro %}
                        <h5 style="margin-top: 10px; padding: 3px;" class="ui red message"><strong>{{ error }}:</strong> {{ erro }}</h5>
              {% endif %}
              {% if aviso %}
                        <h5 style="margin-top: 10px; padding: 3px;" class="ui green message"><strong>{{ warning }}:</strong> {{ aviso }}</h5>
              {% endif %}
              </div></center><hr><div style="margin-top: -10px;margin-left: 0px" >
              <a onclick="voltar()"><img src="../static/img/back.png"></a></div>
              {% for p in pastas %}
                  <div><img src="../static/img/directory.png"><a href="dev?projeto={{ projeto + '/' + p }}"><h3 style="margin-left: 30px;margin-top: -20px;" >{{ p }}</h3></a><br></div>
              {% endfor %}
              {% for i in arquivos %}
                  <a href="dev?projeto={{ projeto  }}&file={{ i }}"><h3>{{ i }}</h3></a><br>
              {% endfor %}
              <div>
                 <div class="extra content">
                     <a href="projeto"><button class="ui teal button">{{ back }}</button></a>
                 </div>
            </div>
          </div>
        </div>
    </div>


    </body>
</html>
