<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/master.css" type="text/css" >
    <link rel="stylesheet" type="text/css" href="../static/semantic/semantic.css">
    <title>Pyrm</title>
    <style>
        .centeredDiv {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
    }
    </style>
</head>
    <body style="background-size:cover;background: url('../static/img/bg.png') no-repeat left center;" >

        <div  class="ui card centeredDiv">
          <div class="content">
              <div class="header">Bem vindo ao Pyrm</div>
            <h4 class="summary">Essa é uma IDE para Processadores ARM compatíveis com a linguagem Python.
                        Use com sabedoria, existem exemplos para você começar e a interface foi contruida
                            da forma mais intuitiva e prática possível. Todas as informações se encontram no meu <a href="http://github.com/artugoms">Github.</a></h4>

          </div>
          <div class="extra content">
           <a href="board"><button class="ui teal button">Começar</button></a>
          </div>
        </div>

        <script src="../static/semantic/semantic.js"></script>
    </body>
</html>
