<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/master.css" type="text/css" >
    <link rel="stylesheet" type="text/css" href="../static/semantic/semantic.css">

    <title>Py in Arm</title>
    <script>
        function addFolder() {
                name = prompt('{{ nameofproject }}');
                window.location = "/projeto?newproject="+name;
            }
        function deleteFolder() {
                name = prompt('{{ deleteproject }}');
                window.location = "/projeto?delete="+name;
            }
        function editFolder() {
                name = prompt('{{ renameproject }}');
                window.location = "/projeto?edit="+name;
            }
    </script>
    <style>
        .fblogo {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            height: 30px;
        }

        #images{
            text-align:center;
        }    .centerDiv{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    }
    </style>

</head>
    <body style="background-size:cover;background: url('../static/img/bg.png') no-repeat left center;" >

        <div style=" width: 500px" class="ui card centerDiv">
          <div class="content">
              <div class="header">{{ project }}</div>
                <h4 class="summary">{{ youselect }}: {{ board }}</h4>
          <div>
              <a style="margin-left: 0px" onclick="addFolder()"><img src="../static/img/addfolder.png"></a>
              <a style="margin-left: 15px" onclick="deleteFolder()"><img src="../static/img/delete.png"></a>
              <a style="margin-left: 15px" onclick="editFolder()"><img src="../static/img/edit.png"></a>
              {% if erro %}
                        <p style="margin-top: 10px" class="ui red message"><strong>{{ error }}:</strong> {{ erro }}</p>
              {% endif %}
          </div><div id="images">
              {% for i in pastas %}

                    <a class="fblogo" href="dev?projeto={{ i }}&file=main.py" >
                        <img src="../static/img/folder.png">
                        <p>{{ i }}</p>
                    </a>

                {% endfor %}</div>
          </div>
         <div class="extra content">


           <a href="board"><button class="ui teal button">{{ back }}</button></a>
          </div>
        </div>

        <script src="../static/semantic/semantic.js">
        </script>
    </body>
</html>
